
.about{
    position: absolute;
    left: 25%; 
}

.headshot {
    margin: auto;
    margin-top: 175px;
    display: block;
    border-radius: 10000px;
    max-height: 100px;
}

.about {
    width: 50%;
    top: 45%;
    left: 25%; 
    text-align: center;
}

.icon {
    width: 30px; /* you can use % */
    height: auto;
}





@media (min-width: 720px) {
    nav.contact {
        position: relative;
        top: 100px;
    }

    .contact-links, .hidden-descriptors {
        display: flex;
        /* margin-top: 5px; */
        width: 450px;
        margin: auto;
    }
    
    .email-words {
        margin-left: 8%
    }
    
    .linkedin-words {
        margin-left: 27%;
    }
    
    .github-words {
        margin-left: 60%;
    }
}

@media (max-width: 720px) {
    nav.contact {
        position: relative;
        top: 150px;
    }
    .contact-links, .hidden-descriptors {
        display: flex;
        bottom: 0;
        width: 300px;
        margin: auto;
    }

    .email-words {
        margin-left: 8%
    }
    
    .linkedin-words {
        margin-left: 23%;
    }
    
    .github-words {
        margin-left: 55%;
    }
}